﻿$black: #000000;
$white: #ffffff;
$darkgreen: #017268;
$lightgreen: #00B9AA;

html, body {
  overflow: hidden;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  display: flex;
  flex-flow: column;

  a {
    transition: color 0.6s ease;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }
  a:hover {
    color: $lightgreen;
  }
}

.header-container {
}

.header-toolbar {
  display: flex;
  flex-flow: row;
  align-items: center;
}

div.header-title {
  flex: 2;

  h1 {
    font-family: 'Bitter', serif;

    a {
      color: $lightgreen;
    }
    a:hover {
      color: $black;
    }
  }
}

div.desktop-header-links {
  flex: 1;

  ul {
    list-style-type: none;
    overflow: hidden;
  }

  li {
    float: right;
    padding-left: 1em;
  }
}

div.mobile-header {
  display: none;

  div#mobile-header-toggle {
    flex: none;
    width: 3em;
    height: 3em;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 999;
  }

  div#mobile-header-toggle span {
    display: block;
    position: absolute;
    height: .3em;
    width: 100%;
    background: $black;
    border-radius: .3em;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  div#mobile-header-links {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    transition: .25s ease-in-out;
    font-family: 'Bitter', serif;
    font-size: 5em;

    ul {
      padding: 0;
      list-style: none;
    }
  }
  div#mobile-header-links.open {
    left: 0;
    background-color: $white;
    display: flex;
  }

  div#mobile-header-toggle span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
  }
  div#mobile-header-toggle span:nth-child(2) {
    top: 1em;
    -webkit-transform-origin: left center;
    transform-origin: left center;
  }
  div#mobile-header-toggle span:nth-child(3) {
    top: 2em;
    -webkit-transform-origin: left center;
    transform-origin: left center;
  }
  div#mobile-header-toggle.open span:nth-child(1) {
    top: -.1em;
    left: .4em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  div#mobile-header-toggle.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  div#mobile-header-toggle.open span:nth-child(3) {
    top: 2em;
    left: .4em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

div.main {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
}

div.container {
  flex: 1 0 auto;
}

div.projects-container {
}

div.projects-title {
  text-align: center;
}

div.projects-list {
}

div.projects-item {
}

.projects-item-title {
}

.projects-item-snippet {
}

div.project-container {
}

.project-title {
}

div.project-text {
}

.project-description {
}

.project-url {
}

div.project-close-button {
  text-align: center;
}

.footer-toolbar {
  text-align: center;
}

@media screen and (max-width: 480px) {
  body {
    padding: 1em;
  }
  .desktop-header-links {
    display: none;
  }
  .mobile-header {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  // .header-container, div.main {
  body {
    margin-left: 25%;
    margin-right: 25%;
  }

  .content {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin-left: 35%;
    margin-right: 35%;
  }
}
