<div class="projects-container">
  <div class="projects-title">
    <h2>Recent Projects</h2>
  </div>
  <div class="projects-list">
    <div class="projects-item" ng-repeat="project in $ctrl.projects">
        <h3 class="projects-item-title">
          <a ui-sref="project({ projectName: project.name })">
            {{project.name}}
          </a>
        </h3>
        <p class="projects-item-snippet">
          {{project.snippet}}
        </p>
    </div>
  </div>
</div>
