﻿<div class="project-container">
    <h2 class="project-title">{{$ctrl.project.name}}</h2>
    <p class="project-snippet">{{$ctrl.project.snippet}}</p>

    <div class="project-text">
      <!-- <div class="project-description">
        {{$ctrl.project.description}}
      </div> -->
      <div ng-bind-html="$ctrl.project.description">
      </div>
      <p class="project-url">
        <a href="{{$ctrl.project.url}}">View Source</a>
      </p>
    </div>

    <div class="project-close-button">
      <a ui-sref="projects">
        Back
      </a>
    </div>
</div>
